.fs-layout {
    position: absolute;
    top : 0; right : 0; bottom : 0; left : 0;
    z-index:0; display : flex; flex-direction : column;
}
.fs-layout-center {
    position : relative;
    z-index : 1;
    flex : 1 1;
    contain : strict;
}
.fs-layout-center-contents {
    position : absolute;
    top : 0; right : 0; bottom : 0; left : 0;
    overflow:auto;
    -webkit-overflow-scrolling : touch;
}
.fs-main-layout {
    position : absolute;
    top : 0; right : 0; bottom : 0; left : 0;
    overflow : hidden;
}
.fs-main-layout > * {
    position : absolute;
    transition : 0.2s ease-in-out;
}
.fs-main-layout_logo {
    top : 0; left : 0; z-index: 5;
    width : 240px; height : 77px;
}
.fs-logo {
    position : relative;
    z-index: 1;
    display : flex;
    justify-content: center;
    align-items : center;
    width : 100%; height : 100%;
    cursor : pointer;
}
.fs-main-layout-top-nav {
    top : 0; right : 0; left : 240px; z-index : 2;
    height : 77px;
    min-height : 46px;
    justify-content: space-between;
    background-color : #ffffff;/* ffffff */
    display : flex;
    align-items: center;
    color : #242424;
   overflow : visible;
}
.myPageCon {
    height : 25px;
    margin-bottom : 12.5%;
}

.myPageCon > .fs-left-nav-item {
    margin-bottom : 10px;
}
.myPageOpen {
    height : 150px;
}
.fsMypageMenu {
    margin-left : 35%;
    margin-bottom : 0px;
}
.fsMypage a{
    color : #ffffff;
    opacity : 0.5;
    font-size : 1.1em;
    display: block;
    margin-bottom : 5px;
    transition : all 0.3s;
}
.myPageCon:hover .fs-left-nav-item {
    opacity : 1;
}

.fsMypage:hover a {
    opacity : 1;
}
.fs-tax-check-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(/img/check-box-in.png) left center no-repeat;
    vertical-align: middle;
    background-size: 15px;
    transition-duration: .3s;
}
.fs-tax-check-label {
    cursor : pointer;
}
.fsTaxTitle {
    color : #ffffff;
}
#fs-taxInfo {
    display: none;
}
#fs-taxInfo:checked + .fs-tax-check-icon {
    background-image: url(/img/check-box-out.png);
}

.fs-top-nav-left {
    display : flex;
    width : 325px;
    align-items: center;
    height : 100%;
}
.fs-top-nav_charge {
    position : relative;
    width : 206px; height :55px;
    
    margin-left : 13.3%;
    border-radius : 5px;
    display : flex;
    align-items : center;
    justify-content : space-between;
}
.fs-top-nav-right {
    display : flex;
    align-items: center;
    height : 100%;
}
.fs-main-layout-left-nav {
    top : 77px;
    bottom : 0px;
    z-index: 1;
}
.fs-nav-web {
    left:0px;
    width : 240px;
}
.fs-left-nav-setting {
    position :absolute;
    right :0; bottom:0; left : 0; /*top:45%;*/
}
.fs-main-layout-content {
    top : 77px;; right : 0; bottom : 0; left : 240px;; z-index:0;
    overflow:auto;
}
.fs-top-nav-logout {
    height : 100%; display : flex;
    align-items: center;
    justify-content: center;
    width : 77px;
    background-color : #e4e4e4;
    cursor : pointer;
    position: relative;
}
.fs-icon {
    position: absolute;
    width : 20px; height : 20px;
    border-radius: 50%;
    background-color : #ee2560;
    color : #ffffff;
    font-size : 0.9em;
    text-align: center;
    line-height: 20px;
    right : 15px; top : 10px;
}
.fs-mypage-icon {
    width : 35px;
}

.fs-mypage-icon > img {
    width : 100%;
}

.fs-account-info-box {
    width : 300px; height :350px;
    background-color : #ffffff;
    position : absolute;
    right : 8px; top : 85px;
    display : none;
    padding-top : 35px;
    padding-left : 25px;
    padding-right : 10px;
}
.fs-account-info-title {
    display : block;
    font-size : 1.4em;
    margin-bottom : 20px;
    
}
.fs-account-info-name {
    display: block;
    color : #525252;
    margin-top : 5px; margin-bottom : 5px;
}
.fs-account-info {
    display: block;
    font-size : 1.3em;
    border : 0px;
    cursor : default;
    width : 100%;
}

.fs-change-info {
    width : 100%;
    position : absolute;
    height : 60px;
    background-color : #ebebeb;
    text-align: center;
    bottom : 0; left:0;
    cursor : pointer;
    line-height: 60px;
}
.sm-icon {
    background-color : #ee2560;
    width : 6px; height : 6px;
    border-radius: 50%;
    margin-right : 5px;
    
}
.fs-change-info > a {
    display: flex;
    position: relative;
    float :left;
    justify-content: center;
    align-items: center;
    width : 50%;
    height : 100%;
    font-size : 1.1em;
    color : #242424;
    background-color : #ebebeb;
    transition : all 0.3s;
}
.fs-change-info > a:hover {
    background-color : #bababa;
}

.fs-top-nav-logout > a{
    color : #242424;
}

.fs-top-nav-logout > a:hover {
    color : #242424;
}


.fs-menu-icon {
    width : 30px; height : 30px;
    position : absolute; z-index: 999; 
    top : 7px; left : 7px;cursor : pointer;
    opacity : 0.8; display : none;
}

.fs-menu {
    display : block;
    width : 100%; height : 2px; background-color : #ffffff;
    margin-top : 7px; 
}
.fs-left-nav-close-icon {
    position : absolute; width : 50px; height : 50px;
    right : 0px; top : 0px;
    color : #ffffff; font-size : 1.5em; cursor : pointer;
    text-align: center;
    display : none; overflow : visible;
}
.aside-menu-close{
    color : #ffffff;
    font-size : 2.5em;
}
.fs-layout-opacity-box {
    position : fixed;
    z-index: 5;
    width : 100%; height : 100%;
    background-color : #242424;
    cursor:pointer; opacity : 0.5;
    display : none;
}
.sm-war-icon {
    display : inline-block;
    width : 8px; height : 8px;
    border-radius: 50%;
    background-color : red;
    margin-left : 3px;
}
    

.fs-left-mobile-account {
  display : none;  
}

.fs-main-banner {
    z-index: 2;
    height: 50px;
   width : 100%;
    bottom : 0;
    opacity : 0.8;
    right : 0;
    left : 240px;
    background-color : #242424;
}
.banner-list-box {
    width : 100%;
    position : absolute;
    top : 0px; left : 20px;
    margin-bottom: 0px;
}

.banner-list {
    display: block;
    height : 50px;
}
.banner-list-text {
    cursor : default;
    line-height: 50px;
    font-size : 1.3em;
    color : #ffffff;
}
.banner-list-text:hover {
    text-decoration: underline;
}
.fsMbMainNev {
    display: none;
}

/*모바일 네비게이션*/

/*.mbNavigation {
    width : 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color : #f8f8f8;
    border-top : 1px solid #dfe3e2;
}

.mbNavigation > div {
    height: 100%;
    width: 50%;
    float: left;
    float-wrap: wrap;
}

.mbNLeft {

}

.mbNRight {

}
.mbLeftBox,.mbRightBox {
    width: 100%;
    height: 100%;
}

.mbRightBox {
    text-align: right;
}

.mbRightBox > li {
    display: inline-block;
}

.mbLeftBox > li {
    float: left;
}


.mbLeftBox > li,.mbRightBox > li {
    width: 25%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
}

.mbLeftBox > li:hover,.mbRightBox > li:hover {
    background-color: #c4c4c4;

}

.mbNHome {
    background-image: url(/img/home_logo.png);
    background-size: 50%;
}
.mbNBefore {
    background-image: url(/img/navi.png);
    background-size: 20%;
}

.mbNAfter {
    background-image: url(/img/navi.png);
    background-size: 20%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mbNHome a {
    display: block;
    width: 100%;
    height: 100%;
}
.mbNRe {
    background-image: url(/img/replash.png);
    background-size: 45%;
}*/
@media screen and (min-width : 799) and (max-width : 1400) {

    
}



@media screen and (max-width :700px) {
    *{
        font-size : 8px;
    }
    .fs-main-layout_logo {
        width : 100%;
        background-color : #1b1b1b;
        height : 50px; display : flex; justify-content: center;
    }
    .fsMbMainNev {
        display : block;
        position: absolute;
        top:0;width : 100%;
        left:-700px;
        z-index: 999;
        background-color : #242424;
        overflow : auto;
    }
    .fs-main-layout {
        overflow :auto;
    }
    .fsMbNavContent {
        width : 100%;
        padding-left : 10px;
        padding-right : 10px;
    }
    .fs-main-layout-left-nav{
        top:0;z-index: 999;
        width:0%;
        display: none;
    }
    .fs-nav-mobile {
        background-color : #2f2f2f !important;
    }
    .fs-main-layout-top-nav{
        display : none;
        left : 0; top : 50px;
        height : 50px;
    }
    .fs-main-layout-content{
        top : 50px; left : 0px;
    }
    .fs-logo {
        height : 50px;
        width : 150px;
    }
    
    .fs-top-nav_charge{
        margin-left : 10px;
        height : 40px;
        width : 150px;
    }
    .fs-top-nav-logout{
        width : 50px;
    }
    .fs-menu-icon{
        display : block;
    }
    .fs-left-nav-close-icon{
        display : block;
    }
    .aside-menu-close{
        display : block;
    }
    
    .fs-left-mobile-account {
        display : block;
        width : 100%; height : 123px;
        background-color : #242424;
        border-bottom : 4px solid #ededed;
    }
    .fs-left-mobile-account  .fs-mobile-info {
        font-size : 1.4em;
        color : #ffffff;
        padding-left : 15px;
    }
    .fs-mobile-userInfo{
        width : 100%; height : 100%;
        padding-top : 15px;
    }
    
    .fs-mobile-charge_num {
        font-size : 1.8em;
        color : #ffffff;
        margin-top : 10px;
        padding-left : 15px;
    }
    .fs-mobile-account-btn-box > *{
        color : #ffffff;
        font-size : 1.2em;
        display : inline-block;
        width : 33.3333%;height : 42px;
        float : left;
        text-align : center;
        line-height : 42px;
        
    }
    .fs-left-nav-setting{
       height : 50px;
        top : auto;
        bottom : 0px !important; 
    }
    .fs-setting-head{
        min-height : 0px !important;
    }
    .fs-left-nav_box {
        margin-top : 20px !important;
    }
    

    .fs-setting-inner {
        text-align: center;
    }
     .fs-main-banner {
        /*left :0px;
        height : 40px;*/
         display : none;
    }
     .fs-mb-nav-box {
         float : left;
         width : 25%;
     }
    .fs-mb-my {
        display: none;
    }
    .fs-left-nav-link {
        display: block;
        width : 100%;
        height : 100%;
        padding : 5px;
    }

  .fsMbTitle {
      font-size : 1.3em;
      color : #ffffff;
      margin-bottom : 10px;
  }
  .fsMbNavBox {
      width : 100%;
      margin-bottom : 0px;
  }
  .fsMbNfs {
      width : 100%;
      padding-top : 10px;
      margin-bottom : 20px;
  }
  .fsMbN {
      width : 25%;
      float : left;
      text-align : center;
  }
  .fsMbN a {
      display: block;
      width : 100%;
      height : 100%;
      text-align :center;
  }
  .fsMbNIcon {
      width : 100%;
  }

  .fsMbNIcon img {
      width : 100%;
  }
  .fsMbNnam {
      font-size : 1.2em;
      opacity : 0.7;
      color : #ffffff;
      margin-bottom : 10px;
  }
  .fsMbNFooter {
      width : 100%;
      position: absolute;
      left:0px;
      bottom : 0px;
  }
  .fsMbNFoot {
      width : 100%;
      margin-bottom : 0px;
  }
  .fsMbNF {
      width : 50%;
      float : left;
  }
  .fsMbNF a {
      display: block;
      width : 100%;
      height : 50px;
      line-height : 50px;
      font-size : 1.1em;
      color : #ffffff;
      text-align : center;
  }
  .fsMbNfs:last-child {
      margin-bottom : 50px;
  }


}

