*,
::after,
::before {
    box-sizing: border-box;
}

::selection {
    background-color : #242424;
    color : #ffffff;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #ffffff;
}

.fs-top-nav-charge-btn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    line-height: 30px;
    font-size: 1em;
    cursor: pointer;
}

.fs-top-nav-left > .button {
    width: 18.2%;
    min-width: 59px;
    min-height: 31px;
    margin-left: 4.6%;
    height: 40.5%;
}

.gray_color {
    background-color: #f0f0f0;
    /*ededed*/
}

.point_color {
    background-color: #ee2560;
}

.fs-top-nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 77px;
    cursor: pointer;
}

.fs-top-nav-item-wrapper {
    display: flex;
    height: 100%;
}

.fs-top-nav_userInfo {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    width: 170px;
    height: 100%;
    color: #242424;
    cursor: pointer;
}

.fs-top-nav_userInfo > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 5px;
}

.fs-top-nav_userImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77px;
    height: 77px;
    margin-right: 17px;
}

.fs-top-nav_userImg_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark_color {
    background-color: #1b1b1b;
    /*1b1b1b*/
}

.fs-left-nav-item {
    position: relative;
    min-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*height : 5.2%; */
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 12.5%;
}

.fs-account-icon {
    width: 25px;/*15%*/

    overflow: hidden;
    margin-right: 5.4%;
    filter: grayscale(100%);
    transition: all 0.3s;
    margin-left: 15%;
}

.fs-account-icon > img {
    display: block;
    width: 100%;
}

.fs-left-nav-item:hover .fs-account-icon {
    filter: grayscale(0%);
}
.myPageCon:hover .fs-account-icon {
    filter:grayscale(0%);
}
.myPageCon:hover .fs-account-menu {
    opacity :1 ;
}

.fs-left-nav_box {
    margin-top: 100px;
}

.fs-left-nav-side-item {
    position: relative;
    padding-left: 100px;
}

.unclick_market {
    display: none;
}

.click_market {
    display: block;
}

.fs-setting-head {
    width: 100%;
    height: 50px;
}

.footerInfo {
    margin-left: 10px;
    text-align: center;
    font-size: 0.8em;
    margin-right: 10px;
}

.fs-setting {
    position: absolute;
    min-height: 23px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 7.9%;
    margin-bottom: 4.2%;
}

.fs-setting-inner {
    opacity: 0.5;
    transition: opacity 0.3s;

}

.fs-setting-inner:hover {
    opacity: 1;
}

.fs-setting-icon {
    width: 43.6%;
    height: 50%;
    overflow: visible;
}

.fs-setting-icon > img {
    width: 100%;
    height: 100%;
}

.sub_point_color {
    background-color: #242424;
}

.sub_sub_point_color {
    background-color: #468ccb;
}

.dark_gray_color {
    background-color: #d8d8d8;
}

.light_gray_color {
    background-color: #ececec;
}

.white_color {
    background-color: #ffffff;
}

.box_shadow {
    box-shadow: 5px 5px 2px -5px #888;
}

.fs-logo-img {
    width: 100%;
    height: 100%;

    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
}

.fs-logo-img div {
    width: 70%;
    height: 44%;
    line-height: 44%;
    overflow: visible;

}

.fs-logo-img img {
    width: 100%;
}

.fs-sub-header-button-text {
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    line-height: 45px;
    display: block;
}

.sub_sub_sub_point_color {
    background-color: #10bde7;
}

.fsMenuActive  .fs-left-nav-item .fs-account-icon {
    filter: grayscale(0%);
}

.fsMenuActive  .fs-left-nav-item .fs-account-menu {
    opacity: 0.9;
}

.fs-beta-icon {
    width: 28px;
    margin-left: 5px;
    opacity: 0.5;
    transition: all 0.3s;
}
.faMenuOn {
    opacity :1 !important;
}

.fs-left-nav-item:hover .fs-beta-icon {
    opacity: 1;
}

#facebook-color {
    background-color: #3b5998;
}

#facebook-color:hover {
    background-color: #3b5998;
}
.fs-mb-foot {
    display: none;
}

@media screen and (min-width:700px) and (max-width: 1400px) {
    .fs-top-nav-left > .button {
        width: 35px;
        min-width: 35px;
        min-height: 25px;
    }
    .fs-top-nav-charge-btn {
        line-height: 25px;
    }

    .fs-main-layout-top-nav {
        left: 160px;
        height: 46px;
    }
    .fs-top-nav_charge {
        width: 132px;
        height: 32px;
    }
    .fs-left-nav-item {
        height: 24px;
        margin-bottom: 20px;

    }
    .fs-main-layout-left-nav {
        top: 46px;
        width: 160px;
    }
    .fs-main-layout_logo {
        width: 160px;
        height: 46px;
    }
    .fs-main-layout-content {
        left: 160px;
        top: 46px;
    }
    .fs-left-nav_box {
        margin-top: 50px;
    }

    .fs-beta-icon {
        width: 20px;
    }
    .fs-main-banner {
        left: 160px;

    }
    .fs-top-nav-logout {
        width : 46px;
    }
    .fs-mypage-icon {
        width : 25px;
    }
    .fs-account-info-box {
        top : 56px;
        width : 250px;
        height : 280px;
    }
    .fs-change-info {
        height : 40px;
        line-height: 40px;
    }
    .fs-setting-inner {
        font-size : 0.8em;
    }


}




@media screen and (max-width: 700px) {
    .fs-logo-img div {
        width: 100%;
        height: 100%;
    }
    .fs-logo-img {
        width: 130px;
        height: 30px;

    }
    .fs-mb-foot {
        display : inline;
    }
    .fs-top-nav_userInfo {
        height: 50px;
        width: 120px;
    }
    .fs-top-nav-charge-btn {
        width: 40px;
        height: 20px;
        line-height: 20px;
        margin-left: 5px;
    }

    .fs-main-layout-left-nav > .fs-left-nav_box {
        margin-top: 0;
    }
    .fs-setting-inner {
        text-align: center;
    }
    .fs-left-nav-item {
        width : 100%;
        height : 100%;
        margin-bottom : 0px;
        display: block;
    }
    .fs-account-icon {
        width : 40%;
        margin : auto auto 10px auto;
    }
    .fs-account-menu {
        text-align : center;
        margin : auto;
        font-size : 12px;
    }
    .fs-mb-userImg {
        display: block;
        height : 100%;
        padding : 10px;
        float: left;

    }
    .fs-mb-userImg > img {

        height : 100%;
    }
    .fs-mb-user-inner {
        width : 100%;
        margin-left : 10px;
        margin-right : 10px;
        height : 60px;
    }
}
