.request_mask {
            position:absolute;
            left:0;
            top:0;
            z-index:999;
            width : 100%; height : 100%; 
            background-color:#000;
            cursor: pointer;
        }

.tax_mask {
            position:absolute;
            left:0;
            top:0;
            z-index:999;
            width : 100%; height : 100%; 
            background-color:#000;
            cursor: pointer;
}
.request_mask_hide{
     display:none;
}

.tax_mask_hide{
     display:none;
}
.request_mask_show {
    display : flex; 
}
.request_fs-popup {
            max-width : 1200px; height : 720px; border-radius : 10px;
            z-index:99999; position : relative; overflow: visible;
        }

.tax_fs-popup {
        max-width : 618px; height : 500px; border-radius : 10px;
            z-index:99999; position : relative; overflow: visible;
}
.request_window_wrapper {
    position : absolute; 
    width : 100%; height : 100%;
    top : 0; left:0; bottom:0; right:0;
    justify-content: center; align-items: center;
    z-index: 9995;
}
.fsTaxConainer {
    width : 100%;

}

.fsTaxConainer .request_send-btn {
    width : 100%;
}

.tax_window_wrapper {
    position : absolute; 
    width : 100%; height : 100%;
    top : 0; left:0; bottom:0; right:0;
    display: flex;
    justify-content: center; align-items: center;
    z-index: 9995;
}
.request_window_wrapper_hide {
    display : none;
}

.tax_window_wrapper_hide {
    display : none;
}
.request_window_wrapper_show{
    display : flex;
}
.request_add-account {
    width : 100%; height :100%; display : flex;
    padding : 0px 65px 70px 50px;
    align-items : center; flex-wrap: wrap;
}
.ladel_text {
    font-size : 1.2em; color : #ffffff;
}
.request_layer_popup_input {
    height : 59px; font-size : 1.28em; 
    border : 2px solid #ffffff; border-radius: 0px;
    background-color : transparent;
    
}

.request_layer_popup_input:focus {
    background-color : transparent;
    color : #ffffff;
}
.request_account-id-width {
    width : 217px;
}
.request_phone-width {
    width : 436px;
}
.fs-account-width {
    width : 217px;
}
.app-secreat-width {
    width : 828px;
}
.request_add-account-input-group {
     min-height : 377px; display : flex; flex-wrap: wrap;
    margin-left : 10px;
}
.qna-content-width {
    height : 216px; white-space: pre-line; 
    resize: none;
}
.access-form-group {
    width : 100%;
}


.request_send-btn {
      width : 137px; height : 57px;
    border-radius: 0px;
    background-color : transparent;
    border : 2px solid #ffffff;
    color : #ffffff; font-size : 1.2em; 
    margin:auto; top:0;bottom:0;left:0;right:0;
}
.sub_sub_sub_point_color {
    background-color : #10bde7;
}
.request_close-icon {
    margin-right : 20px;
}
.request_close-icon-text {
    font-size : 1.7em; color : #ffffff;
}

.request_email-width {
    width : 377px;
}

.request_opacity-box {

    width : 100%; height : 100%; 
    border-radius : 10px;
    background-color : #1b1b1b;
    position : absolute;
    z-index:-10; opacity : 0.8;

}

.request_add-acount-main-title-box {
    width : 100%; height : auto;
    margin-top : 30px;
}


.request_qna-main-title {
    font-size : 3.6em; color : #ffffff; font-weight: 100;
    float:left;
}
.taxTItle {
    float : none;
    width : 100%;
    text-align : center;
}

.taxtSubTitle {
    font-size : 1.2em;
    color : #ffffff;
    font-weight: 100;
    text-align : center;
}


.fs-account-question-box {
    width : 20px; height : 20px;
    position : absolute; top : 0px; 
    cursor : pointer;
}

.fs-account-question-box > img {
    width : 100%; height : 100%;
}

.fs-account-question {
    left : 85px;
}

.fs-app-question {
    left : 65px;
}

.fs-layout-email-form-group {
     margin-left : 15px;
    position : relative;
}

.request_qna-p-tag {
    height : 3.6em; display : flex; align-items: flex-end;
    padding-left: 10px; font-size : 1em; font-weight: 100;
    color : #ffffff;
}

.fs-kakao-plus-box {
    position : absolute; right : 85px; top: 22px;
    font-size : 1.4em;
}
.mobile-kakao {
    display: none;
}

.fs-kakao-plus-box > a {
    color : #ffffff; font-weight : 800; font-size : 1em;
}

.fs-kakao-plus {
    font-size: 1em; font-weight: 800;
    color : #F4C620; margin-left : 5px;
}


.tax_upstream-width {
    width : 180px;
}
.tax-request-add-account {
    height : 90%;
}



.tax-input-group-box {
    padding-top : 30px; padding-bottom : 30px;
    min-height : 300px;
}
@media screen and (min-width : 700px) and (max-width : 1400px) {
    .request_fs-popup,.tax_fs-popup {
        width : 800px; height : 430px;
    }
    .request_add-account{
        padding : 0 6% 6.5% 4.6%;
    }
    .request_add-acount-main-title-box {
        margin-top : 15px;
    }
    .request_add-account-input-group {
        height : 200px;
        width : 100%;
        min-height : 0;
    }
    .request_add-account-input-group{
        display : block;
        
    }
    .fs-layout-email-form-group{
        margin-left : 1.5%;
        height : 80px;
        float : left;
    }
    .access-form-group {
        width : 100% !important;
        height : 120px;
    }
    .fs-layout-email-form-group:nth-child(1) {
        width : 15.5%;
    }
    .fs-layout-email-form-group:nth-child(2) {
        width : 40%;
    }
     .fs-layout-email-form-group:nth-child(3) {
        width : 40%;
    }
    .request_account-id-width,.request_email-width,.request_phone-width,.tax_upstream-width,.tax_upstream-width{
        width : 100%;
    }
    .request_layer_popup_input{
        height : 40px;
    }
    .qna-content-width{
        height : 80px;
        width : 98.5%;
    }
    .fs-layout-email-form-group:nth-child(4) {
        width : 15.5%;
    }
    .fs-layout-email-form-group:nth-child(5) {
        width : 29%;
    }
     .fs-layout-email-form-group:nth-child(6) {
        width : 29%;
    }
    .fs-layout-email-form-group:nth-child(7) {
        width : 20.5%;
    }
    .request_send-btn {
        width : 100px; height : 40px;
    }
    .tax-input-group-box {
        height : 200px;
        padding-bottom : 0;
    }


}

@media screen and (max-width : 700px) {
    .request_fs-popup {
        width : 100%; height : 100%;
        overflow: auto;  position : fixed;
    }
    .tax-input-group-box {
        padding-bottom : 30px;
    }
        .tax_fs-popup {
        width : 100%; height : 100%;
        overflow: auto;  position : fixed;
    }
    .request_opacity-box {
        width : 100%; height : 100%;
        position : fixed;
    }
    .request_add-account {
        width : 100%; padding : 0 10px 0 10px;
        overflow: inherit;
        
    }
    ::-webkit-scrollbar {
        display:none;
}
    .request_add-account-input-group {
        width : 100%; margin-left : 0px;
    }
    .fs-layout-email-form-group{
        margin-left : 0px;
    }
    .request_qna-main-title {
        float: none;
    }
    .request_qna-p-tag {
         padding-left : 0px;
        width : 100%;
         display: inline-block;
        word-wrap: break-word;
        white-space:normal;
    }
    .fs-layout-email-form-group,.request_account-id-width,.request_email-width,.request_phone-width,.qna-content-width,.tax_upstream-width{
        width : 100%;
    }
    .request_send-btn{
      width : 100px; height : 40px; 
        margin-top : 0px;
        margin-bottom:  40px;
    }
    .request_account-id-width,.request_email-width,.request_phone-width,.tax_upstream-width {
        height : 40px;
    }
    .fs-kakao-plus-box {
        /*top :30px; left:150px;
        z-index: 99999;
        font-size :0em;*/
        display: none;
    }
    .mobile-kakao {
        display: none;
        width : 60%;
        position: relative;
        margin : auto;
    }
    
    .mobile-kakao a {
        display: block;
        width : 100%; height : 100%;
    }
    
    .mobile-kakao  img {
        width : 100%;
    }
    
}


