@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input::placeholder {font-family: 'NanumSquare', sans-serif !important;}

.data_up_load .top {
  font-size: 43px;
  letter-spacing: -0.65px;
  text-align: left;
  color: #292929;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: solid 1px #cccccc;
  position: relative;
  margin-top: 80px;
}
.data_up_load .top .txt {
  margin-left: 20px;
  font-size: 17px;
  letter-spacing: -0.26px;
  text-align: left;
  color: #000000;
}
.data_up_load .top button {
  position: absolute;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 12px 39px;
  font-size: 20px;
  font-weight: bold;
  color: #292929;

}

  .data_up_load .table_wrap {
    /* max-height: 620px; */
    height: 620px;
    overflow: auto;
    /* border: 1px solid #f00; */
  }
/* table_wrap 스크롤 숨기기 */
  .table_wrap { 
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .table_wrap::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }

  .data_up_load table {
    border-collapse: separate;
    border-spacing: 0 13px;
    margin-bottom: 0;
  }
  /* .data_up_load .table td:first-child {border-radius: 10px 0 0 10px;}
  .data_up_load .table td:last-child {border-radius: 0 10px 10px 0;} */
  .data_up_load thead tr {
    background: #fac400;
    color: #fff;
  }
  .data_up_load thead tr th {
    font-size: 17px;
    letter-spacing: -0.26px;
    font-weight: bold;
  }
  .data_up_load tr {background: #fff;}
  .data_up_load .thead-light tr{background-color: #fff;}
  .data_up_load .table .thead-light th {color: #4E5155; background-color: #fff; border-color: #e8e8e9;}
  .data_up_load .table thead th {vertical-align: middle; border-bottom: none;}
  .data_up_load .table th {padding: 17px 0; text-align: center;}
  
  .data_up_load .table td {
    font-size: 19px;
    margin-left: 27px;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
  }
  .table th, .table td{
    border-top: none;
  }

  .data_up_load .table .toggle_tr {cursor: pointer; color: #1437ff;}

  .data_up_load .form-control {
    font-size: 17px;
    height: auto;
    border: 1px solid rgba(24,28,33,0.15);
    border-radius: 7px;
    margin-left: 15px;
    background-color: #fff;
    font-weight: bold;
    padding: 4px 14px
  }
  .data_up_load .toggle_dropdown_tr { display: none;}
  .data_up_load .item button {
    border: none;
    background: #f18f8f;
  }

  .data_up_load .item .form-control {width: 350px;}
  .data_up_load .item .label_control {width: 231px !important;}
  .data_up_load .item .login_control {width: 100px !important;}
  .data_up_load .item .btn_control_01 {
    width: 120px !important;
    background: #fff;
    border: 1px solid rgba(24, 28, 33, 0.15);
    border-radius: 50px;
  }

  .data_up_load .item .btn_control_02 {
    width: 120px !important;
    border-radius: 50px;
  }
  .data_up_load .item .upload_request {
    background: #fac302;
    color: #fff;
    border: 1px solid #fac302;
  }
  .data_up_load .item .upload_wait {
    background: #f0f0f0;
    color: #d0d0d0;
    border: 1px solid rgba(24, 28, 33, 0.15);
  }
  .data_up_load .item .upload_complete {
    background: #10b788;
    color: #fff;
    border: 1px solid #10b788;
  }

  .data_up_load .item .id_value_control {width: 170px !important;}
  .data_up_load .item .pw_value_control {width: 226px !important;}

  .data_up_load .item input::placeholder {text-align: center;}

  .data_up_load .icon_black {
    color: #000000;
  }
  .data_up_load .icon_yellow {
    color: #ecad00;
  }
  .data_up_load .icon_green {
    color: #10b788;
  }
  .data_up_load .explanation_td {
    position: relative;
    cursor: pointer;
    font-size: 20px !important;
  }
  .data_up_load .explanation_box{
    text-align: left;
    position: absolute;
    display: none;
    width: 300px;
    padding: 0.8rem 1.2rem;
    font-size: 12px;
    line-height: 1.39;
    letter-spacing: -0.17px;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #4E5155;
    border-radius: 6px;
    top: 40px;
    right: 0;
    z-index: 999;
  }

  .data_up_load .expiration_div .explanation_box {
    top: 25px !important;
    right: -15px !important;
  } 


  .data_up_load .select_control {
    width: 100%;
    padding: .438rem 10px;
    border-radius: 5px;
  }

  .data_up_load .select_control option {
    width: 500px;
  }

  .data_up_load .sum_wrap {background: #fff; padding: 1.25rem 0.8rem 1.25rem 1.5rem; border-radius: 0px 50px 50px 0;}
  .data_up_load .sum_wrap ul {position: relative;}
  .data_up_load .sum_wrap ul li div {text-align: center !important;}
  .data_up_load .sum_wrap ul li div:nth-child(1){
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.26px;
    color: #292929;
  }
  .data_up_load .sum_wrap ul li div:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: #292929;
    margin-left: 10px;
  }
  .data_up_load .sum_wrap ul li:nth-child(3) div:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: #e24d03;
    margin-left: 10px;
  }
  .data_up_load .sum_wrap ul li:nth-child(1) {width: 200px;}
  .data_up_load .sum_wrap ul li:nth-child(2),
  .data_up_load .sum_wrap ul li:nth-child(3) {width: 320px;}

  .data_up_load .sum_wrap ul li:nth-child(4) {
    position: absolute;
    right: 0;
  }
  .data_up_load .sum_wrap ul .btn_purchase {
    background: #10b788;
    color: #fff;
    border: none;
    font-size: 17px;
    letter-spacing: -0.26px;
    font-weight: bold;
    border-radius: 50px;
    padding: 8px 14px;
  }

  .data_up_load .sum_wrap ul .btn_request {
    background: #ecad00;
    color: #fff;
    border: none;
    font-size: 17px;
    letter-spacing: -0.26px;
    font-weight: bold;
    border-radius: 50px;
    padding: 8px 14px;
  }

/*request_data 모달 스타일*/
.data_up_load .request_data {display: none;}

.data_up_load .request_data .writing_wrap {width: 100%; height: 100%; position: relative;}
.data_up_load .request_data .writing_wrap .writing_box {
  width: 524px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.data_up_load .request_data .writing_wrap .inner {
  padding: 45px 30px;
  text-align: center;
}
.data_up_load .request_data .top {
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
}
.data_up_load .request_data .top h1 {
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: -0.26px;
  color: #292929;
  margin-bottom: 1rem;
}
.data_up_load .request_data .cont p {
  color: #292929;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: -0.36px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.data_up_load .request_data .cont_sub p {
  font-size: 18px;
  margin-bottom: 1rem;
}

.data_up_load .request_data .btn_box button {
  background: #fed32e;
  color: #fff;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
}


/*add_data 모달 스타일*/
.data_up_load .add_data {display: none;}
.data_up_load .add_data .writing_wrap {width: 100%; height: 100%; position: relative;}
.data_up_load .add_data .writing_wrap .writing_box {
  width: 640px;
  height: 888px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.data_up_load .add_data .input-group {
  position: relative;
  flex-direction: column;
  margin-top: 37px;
}
.data_up_load .add_data label {
  display: block;
  width: 100%;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.24px;
  color: #000;
  text-align: left;
  white-space: nowrap;
}

.data_up_load .add_data .cont_form_control {
  display: block;
  width: 100%;
  padding: 11px 0;
  border-bottom: 1px solid #ccc !important;
  background-color: transparent !important;
  font-size: 18px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #292929;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.data_up_load .add_data .writing_wrap .inner {
  /* padding: 54px 61px; */
  padding: 40px 61px;
}
.data_up_load .add_data .top {
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none;
}
.data_up_load .add_data .top h1 {
  font-size: 30px;
  letter-spacing: -0.45px;
  color: #000000;
  float: left;
}

.data_up_load .add_data .top button {
  float: right;
  border: none;
  border-radius: 0;
  padding: 4px !important;
}

.data_up_load .add_data .top button img {width: 70%;}


.add_data .target_radio input[type="radio"]{
  display: none;
}

.data_up_load .add_data .target_radio {margin-right: 30px;}
.data_up_load .add_data .target_radio:last-child {margin-right: 0;}
.data_up_load .add_data .target_radio input[type="radio"] + label:before {
  content: "✔";
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #eee;
  margin-right: 7px;
}

.data_up_load .add_data .target_radio input[type="radio"]:checked + label::before {
  content: "✔";
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: #fed32e;
}

.data_up_load .add_data .cont textarea.cont_form_control{
  border-radius: 7px !important;
  padding-left: 10px;
  height: 90px;
}
.data_up_load .add_data .cont_sub li:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
}
.data_up_load .add_data .cont_sub li {
  font-size: 12px;
  letter-spacing: -0.36px;
  color: #292929;
  margin-bottom: 7px;
}

.data_up_load .add_data .btn_box {text-align: center; margin-top: 25px;}
.data_up_load .add_data .btn_box button {
  background: #fed32e;
  color: #fff;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: bold;
}