.fs-sub-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.fs-sub-layout-header {
    position: relative;
    z-index: 2;
    flex: none;
    overflow: visible;
}
.pagination {
    visibility: hidden !important;
}

.fs-sub-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin: 15px auto auto auto;
    max-width: 1215px;
    overflow: visible;
    position: relative;
    margin-top : 40px;
}
.fsShowCount {
    position: absolute;
    bottom : 10px;
    font-size : 1.2em;
}
.showText {
    font-size : 1em;
}
.fsShow {
    color : #ee2560;
    font-size : 1.1em;
    font-weight:600;
}

.fs-sub-header-button {
    width: 108px;
    height: 45px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.fs-search-box_input {
    box-sizing: border-box;
    width: 644px;
    height: 60px;
    border-radius: 3px;
    color: #3d3d3d;
    padding: 2px 10px 2px 60px;
    font-size: 1.4em;

    font-weight: 600;
    border: 0px;
    
    background-image:url(/img/search-icon.png);background-position: left 20px center; background-repeat : no-repeat; background-size : 20px; /*15px*/

}

.fs-search-box_input::-webkit-input-placeholder {
    color: #c5cdcd;
}

.fs-search-box_input::-moz-placeholder {
    color: #c5cdcd;
}

.fs-search-box_input:-moz-placeholder {
    color: #c5cdcd;
}

.fs-search-box_input:-ms-input-placeholder {
    color: #c5cdcd;
}

.fs-sub-layout-content {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin: auto;
    max-width: 1215px;

}

.fs-fbaccount-box-content {
    position: relative;
    margin: 10px auto;
    max-width: 1215px;
    overflow: auto;
}

.fs-fbaccount-box-title {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goToAccount {
    font-size : 1em;
    color : #242424;
    font-weight : 700;
}

.goToAccount:hover {
    color : #242424;
}


.fs-fbaccount-list {
    margin-bottom: 15px;
    transform: translateZ(0)/* Fix Chrome 52 not rendering project box when scrolled. :( */
    ;
}
.fsSeMoOp {
    display: none;
}

.fs-fbaccount-content {
    height: auto;
    overflow: visible;
}

.fs-fbaccount-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1215px;
    overflow: visible;
}

.fs-fbaccount-box-list {
    height: 84px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
}


.fs-fbaccount-box-container {
    position: relative;
    z-index: 1;
    overflow: auto;
    flex: 1 1;
}



.fs-fbaccount-box-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}

.fs-fbaccount-box-container::-webkit-scrollbar-track {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #f3f4f5;
}

.fs-fbaccount-box-container::-webkit-scrollbar-thumb {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #b0b4bb;
}

.fs-fbaccount-box-container::-webkit-scrollbar-thumb:hover {
    background: #c1c4cb;
}


.fs-want-target {
    position: absolute;
    right: 40px;
    top: 15px;
    display: flex;
    align-items: center;
}

.fs-want-target-btn {
    width: auto;
    height: 41px;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    line-height: 41px;
    margin-left: 10px;
    color : #ee2560;
}

.fs-want-target-btn:hover {
    text-decoration-line: underline;
}

.fs-want-target-text {
    font-size: 1.2em;
    font-weight: 500;
    color: #656565;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-family : 'Nanum Barun Gothic', sans-serif;

}



.fs-search-keyword-list-box {
    margin-top: 0px;
   position : relative;
    z-index : 15;
    width : 644px;
    height: auto;
    overflow: visible;
    padding-top : 5px;
    display : flex;
}

.fs-search-keyword-list {
    display:flex;
}

.fs-search-keyword-item {
    margin-left: 10px; 
}

.show-hash-tag-more {
    font-size: 1.2em;
    color: #153e63;
    font-weight : 800;
    opacity: 1;
    transition : all 0.3s;
    margin-left : 10px;
}

.show-hash-tag-more:hover {
    color : #0075df;

}
.real_target {
    float : left;
    width : 48px;
    margin-right : 6px;
    
}
.real_target img {
    width : 100%;
}

.fs-search-keyword-item > a {
    font-size: 1.2em;
    color: #828282;
    opacity: 0.5;
    font-weight: 500;
    font-family : 'Nanum Barun Gothic',sans-serif;
    transition: opacity 0.3s;
}

.fs-search-keyword-item:hover > a {
    opacity: 1;
}
.fsMobileOp {
    display: none;
}
.fs-target-list-box {
    width : 100%;
    height : 100%;
    border-radius: 0px;
    overflow: visible;
    cursor : pointer;
    border : 1px solid #d1d1d1;
    transition : all 0.3s;
    position: relative;
    
}
.fs-target-list-select-box {
    float:left;
    width : 48px;

}
.unit-price-img {
    width : 48px; height : 24px;
    padding-left : 3px; padding-right : 3px;
    border-radius: 2px;
    background-color : #ee2560;
    color : #ffffff;
    font-size : 0.9em;
    line-height: 24px;
    float : left;
    margin-right : 6px;
}
.fs-target-list-select-box > img {
    width : 100%;
}

.fs-target-list-box:hover {
    border : 1px solid #242424;
}

.fs-target-list-content {
    width: 100%;
    height: auto;
    margin-bottom: 33px;
    text-align: center;
}

.fs-target-list-content  .fs-target-list-box-container {
    float : left;
    width : 283px; height : 300px;
    margin : 0 10px 10px 10px;
    overflow : visible;
}

.fs-target-list-top {
    width: 100%;
    height: auto;
    padding : 20px 10px 0 10px;
}


/*market event*/

.mobile-event-popup {
    display: none;
}
.eventPopupContainer {
    width : 480px;
    height : 700px;
    background-color : #ffffff;
    position : absolute;
    top : 20px;
    right : 20px;
}
.eventPopupImg {
    width : 100%;
}
#check {
    margin-left : 5px;
}
#close {
    margin-right : 5px;
    color : #242424;
}

#close:hover {
    color : #242424;
}
.checkCon {
    position: absolute;
    width : 100%;
    display : flex;
    justify-content: space-between;
    bottom : 0; right : 0;
}

.price_text {
    font-size: 1.7em;
    font-weight: 700;
}
.event-price {
     font-size: 1.5em;
    font-weight: 700;
}

.evnet-target-price {
    display : flex;
    align-items: center;
    justify-content: flex-end;
}
.price-event-box {
    float : left;
    margin-bottom : 0px;
    height : 100%;
    text-align: right;
    margin-left : 10px;
}
.price-percent {
    float :left;
    font-size : 1.5em;
    font-weight: 600;
    margin-top : 18px;
    color : #ee2560;
}
.original-price {
    font-size : 0.9em;
    color : #6a6a6a;
    text-decoration: line-through;
}
.original-price_text {
    font-size : 0px !important;
}
.fs-target-list-price-btm {
    float : right;
}


/*------------*/

.fs-target-list-mid {
    padding-top : 0px;/*35*/
    width: 100%;
    height: 43%;
}
.fs-place-list {
    margin-bottom : 0px;
    padding-left : 10px;
}
.fs-place {
    float : left;
    font-size : 1.2em;
    font-weight: 400;
    margin-right : 3px;
    color : #242424;
}

.fs-target-title {
    width : 100%;
    padding-left : 10px;
    text-align: left;

}

.title-text {
    font-size: 1.5em;
    font-weight: 700;
    text-align : left;
}

.data-text {
    font-size: 1.8em;
    font-weight: 600;
    margin-top: -3px;
}

.fs-target-list-btm {
    margin-bottom : 5px;
    width: 100%;
    text-overflow: ellipsis;
    height:7%;
}
.fs-target-num-box{
    width : 100%;
    padding-left:10px;
    text-align: left;
    margin-top : 3px;
}

.fs-target-tag {
    text-align: left;
    padding-left: 10px;
    padding-right : 10px;
    width : 100%;
    font-size: 1em;
    color: #153e63;
    font-family : 'Nanum Barun Gothic', sans-serif;
    font-weight : 200;
    text-overflow: ellipsis;
}
.buyon  .fs-target-tag {
    color : #9a9a9a;
}

.tag-item {
    font-size: 0.9em;
    color: #b0b0b0;
    margin-right: 5px;
    font-family : 'Nanum Barun Gothic',sans-serif;
    width : auto;
    overflow : visible;
    text-overflow: clip !important;
}
.fs-target-sub-title-box{
    width : 100%;
    font-family : 'Nanum Barun Gothic', sans-serif;
    padding-left : 10px;
    font-weight : 200;
    text-align: left;
    color : #606060;
    font-size : 1em;
}

.dropdown {
    overflow: visible;
}

.fs-dropdown-box {
    overflow: visible;
    position: absolute;
    top:30px;
    right: 0;
  margin-top : -20px;      
}

.dropdown-list {
    background-color: transparent;
    width: 100px;
    height: 41px;
    font-size: 1.3em;
    font-weight: 600;
}

.fs-search-box {
    overflow : visible;
    position : relative;
}

.fsTypeCkBox {
    width : 30px;
}
.fsTypeCkBox > img {
    width : 100%;
}

#fs-market-select-dropdown-box {

    position: absolute;
    top: 50%;margin-top: -20px;
    right : 0;
    
}
.fs-target-list-mid-btm{
    height : 20%;
}

.target-date-box {
    width : 100%;
    height : auto;
    text-align: left;
    padding-left : 10px;
}
.fs-target-list-price-btm {
    width : 100%;
    height : 16%;
    background-color : #e4e4e4;
}
.fs-target-top {
    width : 100%;
    height : 12.2%;
    display : flex;
    justify-content: flex-end;
    padding : 6px 6px 0 0;
}
.fs-target-top-right {

}
.target-date {
    font-size : 0.9em;
    color :#242424;
    font-family : 'Nanum Barun Gothic', sans-serif;
    font-weight : 200;
}

.target-place-list {
    padding-left : 10px;
    margin-top : 5px;
}

.target-place {
    float : left;
    padding : 2px; border : 2px solid #242424; min-width : 40px;
    height : 26px;
    margin-right : 5px;
    font-size : 0.9em;
}

.buyon .target-date {
    color : #cfcfcf;
}
.target-price{
    width : 100%; height : 100%;
    padding-right : 10px;
    padding-left : 10px;
    display : flex;
    align-items : center;
    justify-content: space-between;
}



.hidden-target-id{
    display: none;
}

.hidden-description-text{
    display: none;
}

.buyon .fs-target-list-box {
    
}
.buyon > * {
    opacity : 0.5;
}
.buyon .target-date-title {
    color : #b0b0b0;
}

.target-date-title {
    font-family : 'Nanum Barun Gothic', sans-serif;
    color : #242424;
}
.buyon .title-text, .buyon .data-text, .buyon .tag-item {
    color : #9a9a9a;
}
.buyon .price_text {
    color : #242424;
}
.fs-search-keyword-title {
    font-size : 1.2em; font-weight: 600; 
    color : #ee2560;
}
.hidden-hash-tag{
    display : none !important;
}

.fs-no-target-box {
    
width : 100%; height : 100%;
    display: flex;
    align-items: center; justify-content: center;
    
}

.fs-no-target-text {
    font-size : 1.8em; font-weight : 800;
}

.fs-no-target-link {
    font-size : 1em; font-weight : 800;
    color : #ee2560;
}

.fs-no-target-link:hover {
    color : #ee2560;
}


.fs-mobile-want-target {
    width : 100px; height : 50px;
    border-radius : 50%;
    position :fixed;
    top:0; right:0;
    transition : all 0.3s;
    cursor : pointer;
    display : none;
    color : #ffffff;
    z-index:14;
}
.wantText {
    display: block;
    width : 100%;
    height : 100%;
    color : #ffffff;
    font-size : 1.4em;
    text-align : center;
    line-height : 50px;
}

.fs-mobile-want-target:hover {
    bottom : 35px;
}

.fs-mobile-want-target-hor {
    display: block;
    height : 4px; width : 20px; background-color : #ffffff;
    position: absolute; 
    top:50%; left:50%; margin-top : -2px; margin-left : -10px;
}

.fs-bogile-want-target-ver {
    display: block;
    width : 4px; height : 20px; background-color : #ffffff;
    position : absolute;
    top : 50%; left : 50%; margin-top : -10px; margin-left:-2px;
}
.fs-purchase-select-account-mobile {
    width : auto; display : none;
    height : 100%;
}

.fs-purchase-select-account-mobile > span,.fs-purchase-select-account-mobile >a {
    display : inline-block;
    font-size : 1.5em;
    font-weight: 600;
    margin : 0 10px 0 10px;
    cursor : pointer;
    opacity : 0.3;
    height : 100%;
    padding-top : 10px;
    color : #ffffff;
}


.fs-purchase-select-account-mobile > span.activeAccount {
    opacity : 1;
}
.fs-market-select-account-container {
    width : 100%; height : 100%;
    position : absolute;
    top : 0px; left : 0px;
    z-index: 80;
}

.fs-market-select-account-opacity-box {
    width : 100%; height : 100%;
}

.fs-market-select-account-title {
    width : 100%;
    text-align: center;
    font-size : 2.8em;
    color : #ffffff;
    font-weight: 700;
    margin-top : 84px;
    margin-bottom : 20px;
}

.fs-market-select-account-sub-title {
    width : 100%; text-align: center;
    color : #ffffff;
    font-size : 1.8em;
}

.fs-market-select-account-text {
    margin-top : 10px;
    color : #ffffff;
    font-weight : 100;
    font-size : 0.7em;
}
.fs-market-select-account-text > b {
    color : #ffffff;
    font-size : 1em;
    font-weight: 700;
}

.fs-market-select-account-list-box {
    width : 100%;
    padding-left : 21%;
    padding-right : 21%;
    padding-top : 50px;
    padding-bottom : 20px;
    height : 71%;
    overflow: auto;
}

.fs-market-select-account-list-box::-webkit-scrollbar { 
    display: none; 
}

.fs-market-select-account-list {
    width : 100%; height : auto;
    padding-bottom : 60px;
    
}

#sortDropdownMenuButton {

    
    
}
.notice {
    width : 500px;
    height : 50px;
    position: absolute;
    bottom : 70px;
    z-index: 20;
    right : 10px;
    text-align: center;
    font-size : 1.2em;
   
    border-radius: 5px;
}
.notice-bg {
    position: absolute;
    width : 100%;
    height : 100%;
    background-color : #242424;
    opacity : 0.5;
    z-index: -1;
}

.notice > a {
    display :block;
    width : 50px;
    height : 100%;
    color : #242424;
    font-size : 1em;
    line-height: 50px;
    text-align: center;
     color : #ffffff;
}
.title {
    display : block;
    float : left;
    width : 450px;
    height : 100%;
    font-size : 1em;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
     color : #ffffff;
}


.market-select-account-list-text-box {
    display :block; float: left;
    margin-left : 15px; margin-right : 15px;
    background-color : #ee2560; height :70px;
    padding : 10px;
    border-radius: 35px; min-width : 21.4%;
    margin-bottom: 15px;
    opacity : 0.8;
    transition : all 0.3s;
}
.market-select-account-list-text-box:hover {
    opacity : 1;
}

.market-select-account-list-text {
    color : #ffffff;
    font-size : 1.8em; font-weight : 700;
    display: block;
    width : 100%; height : 100%;
    text-align: center; 
    line-height: 50px;
}

.fs-market-select-account-background {
    width : 100%; height : 100%;
    background-color : #111111;
    opacity : 0.9;
    position :absolute;
    top : 0; left:0; z-index: -1;
}

.search-form-box {
    
}

.account-visible {
    display : none;
}

.fs-show-account {
    position : absolute;
    left : 40px;
    overflow : visible;
    z-index : 20;
}
.fs-show-account-top {
    top : 15px;
}
.no-account-box {
    width : 100%; height : 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-account {
    font-size : 1.8em;
    color : #ffffff;
    text-decoration-line: underline;
    display: block;
    margin-top : 10px;
    margin-bottom : 10px;
}
.fs-show-account-text {
    font-size : 1.2em;

}
.fsMarketAccount {
    font-size : 1em;
    font-weight: 500;
    cursor : pointer;
    float : left;
    margin-right : 5px;
}

.triangle-box {
    margin-left : 5px;
    width : 10px;
    height : 100%; text-align: center;
    display : none;
}
.triangle-img {
    width : 15px;
    margin-left : 10px;
    margin-top : 2px;
}
.triangle-img > img {
    width : 100%;

}
.fsMarketSelectBox {
    float : left;
}
.fsMarketShowSelect {
    font-size : 1.2em;
    margin-right : 23px;
    cursor : pointer;
    float : left;
}
.fsLeftDi {
    width : 7px;
    margin-top : 2px;
    margin-right : 23px;
}
.fsLeftDi > img {
    width : 100%;
}

.fsMarketAccountBox {
    width : 350px;
    height : 380px;
    position : absolute;
    display : none;
    left : 66px;
    top : 30px;
}
.fsMselecList {
    width : 100%;
    padding : 7px 15px 7px 15px;
    opacity : 0.5;
    transition : all 0.3s;
}
.fsMselecList:hover {
    opacity : 1;
}
.fsMselectListSelected {
    opacity : 1;
}
.fsMarketSelect {
    display: block;
    width : 100%;
    height : 100%;
    color :#ffffff;
    text-align : center;
}
.fsMarketSelectList {
    width : 65px;
    height : 105px;
    position: absolute;
    margin : 0px;
    top : 30px;
    left : -15px;
    display : none;
}
.fsMarketSelectListShow {
    display : block;
}
.selectOp {
    width : 100%;
    height : 100%;
    background-color : black;
    opacity : 0.8;
    position: absolute;
    z-index: -1;
}

.fsShowList {
    display : block;

}
.fsTitle {
    display : block;
    float : left;
    color : #ffffff;
    font-size : 1em;
    height : 44px;
    text-align : center;
    line-height : 44px;
}
.fsADAccount {
    width : 60%;
}

.fsHavingTarget {
    width : 40%;
}

.fsMarketLine {
    width : 90%;
    position : relative;
    margin : auto;
    background-color : #ffffff;
    height : 1px;
}

.fsMarketAccountList {
    width : 100%;
    height : 330px;
    overflow : auto;
    padding : 5px;
    -ms-overflow-style: none;
}
.fsMarketAccountList::-webkit-scrollbar {
    display:none;
}

.fsMarketAccountList > li {
    width : 100%;
    padding : 10px 0 10px 0;
    opacity: 0.5;
    transition : all 0.3s;
}
.fsMarketAccountList > li:hover {
    opacity : 1;
}

.fsMarketAccountSelected {
    opacity : 1 !important;
}
.fsAccountText,.fsTargetText{
    display: block;
    float : left;
    height : 100%;

}

.fsMarketAccountList > li > a {
    display: block;
    width : 100%;
    height : 100%;
}
.fsMarketOpacity {
    width : 100%;
    height :100%;
    position : absolute;
    top:0;
    left: 0;
    background-color : black;
    opacity : 0.8;
    z-index : -1;
}
.fsAccountText,.fsTargetText {
    font-size : 1.1em;
    color : #ffffff;
    text-align : center;
}
.fsAccountText {
    width : 60%;
}
.fsTargetText {
    width : 40%;
}
.triangle_down {
    width: 0;
    display : inline-block;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top:10px solid #242424;
    cursor : pointer;
}
.fs-market-mobile-dropdown-box,.mobile-dropdown-container {
    display : none;
}
.mobile-select-box,.mobile-tag{
    display : none;
}

@media screen and (max-width : 1400px) {
    .eventPopupContainer {
        width : 300px;
        height : 450px;
    }
     .fs-target-list-content >.fs-target-list-box-container{
         margin : 0 5px 5px 5px;
         width : 23.3%; min-width : 237px;
         height : 250px;
    }
    .fs-target-list-content  {
        padding : 0 50px 0 50px;
    }
    .fs-market-select-account-list-box{
        padding-left : 25%; padding-right : 25%;
    }
    .market-select-account-list-text-box {
        height : 50px;
        border-radius: 25px;
    }
    .market-select-account-list-text{
        line-height: 30px;
    }
    .fs-target-list-mid-btm {
        
    }
    .fs-search-box_input{
        height : 50px;
    }
    .fs-sub-header {
        height : 80px;
        margin-top : 40px;
    }
    .fs-target-list-select-box {
        width : 35px;
    }
    .fs-dropdown-box {
        top : 25px;
    }
    .unit-price-img {
        width : 35px;
        height : 17.5px;
        line-height : 17.5px;
        font-size : 0.8em;
        right :50px;
    }
    
    .notice-bg,.notice {
        width : 400px;
    }
    .title {
        width : 350px;
    }
    
    /*event*/
    .price-percent {
        margin-top : 10px;
    }

    .fs-target-top {
        height : 12%;
    }
    .real_target {
        width : 35px;
    }
    .fs-want-target-text {
        font-size : 0em;
    }

    .fs-market-select-account-title {
        margin-top : 20px;
    }
    
}

@media screen and (max-width : 700px) {
    .fs-search-box_input  {
        width : 100%;
    }
    .fs-search-box {
        width : 100%;
        
    }
    .real_target {
        width : 48px;
    }
    .fs-target-list-select-box {
        width : 48px;
    }
    .fs-target-list-content {
        justify-content: center;
        padding : 0;
        padding-top : 20px;
    }
    .fs-target-list-content >.fs-target-list-box-container{
        margin : auto ;
        float : none;
        min-width : 283px;
        height : 300px;
        display : block;
        margin-bottom: 10px;
    }
    .fs-target-list-content {
        overflow : visible;
    }
    .fs-search-keyword-list-box {
        width : 60%;
        padding-left : 0px;
        float : left;
        height : 25px;
        padding-top : 0;
    }
    
    .search-form-box {
        padding : 0 10px 0 10px;
      
    }
    .fsMarketAccountList {
        height : 250px;
    }
    .fs-search-keyword-list {
        position : absolute;
        top : 0;
        width : 100%;
        display : block;
        margin-bottom : 0px;
    }
    .fsMobileMarkerAccountBox {
        position : fixed;
        width : 100%;
        height : 300px;
        left : 0;
        bottom : -300px;

    }
    .fsMobileOp{
        /*display : block;*/
        position : fixed;
        top : 0; left:0;
        width : 100%; height : 100%;
        background-color : black;
        opacity : 0.5;
    }
    .fs-search-keyword-item > a {
        font-size : 1.3em;
        height : 100%;
        display :flex;
        align-items: center;
        
    }
    .fs-want-target {
        display : none;
    }
    .fs-sub-header {
        height : auto;
        margin : 0px;
        display : block;
        margin-bottom : 10px;
        overflow : visible;
        background-color : #242424;
    }
    .fs-search-box_input{
        height : 40px;
        border-radius: 0px;
        padding : 2px 10px 2px 40px;
        background-position: left 10px center; background-repeat : no-repeat; background-size : 15px; /*15px*/
    }
    .fs-mobile-want-target  {
        display : block;
    }
    
    .fs-dropdown-box{
        display : none;
    }
    .fs-sub-layout-header {
        /*position: fixed;*/
        height : 130px;
    }
    .fs-purchase-select-account{
        margin-top : 5px; margin-bottom : 5px;
        display : none;
    }
    
    .fs-purchase-select-account-mobile{
        display : block;
    }
    .fs-market-head-bottom-box{
        width : 100%; height : 45px;
        margin-top : 10px;
        background-color : #ffffff;
        position : relative;
        overflow: visible;
        padding-top : 10px; padding-bottom : 10px;
    }
    .dropdown-list{
        height : 35px;
    }
    .fs-search-keyword-title{
        width : 30%;
        height : 100%;
        display : flex;
        align-items: center;
        justify-content:center;
        font-size : 1.3em;
      
    }

    .btn:focus {
        box-shadow : none;
    }
    .fs-market-mobile-dropdown-box {
        display : block;
        height : 100%;
        width : 40%;
        overflow : visible;
        position: relative;
    }
    .fsMarketMobileSelectList {

        position : fixed;
        width : 100%;
        height : 200px;
        bottom :-200px;
        left : 0;
        margin-bottom : 0px;
    }
    .fsSeMoOp {
        /*display : block;*/
        position: fixed;
        top:0;
        left:0;
        width : 100%;
        height : 100%;
        background-color : black;
        opacity : 0.5;

    }
    .fsMselecList {
        padding : 15px 7px;
    }
    .fsMarketSelect{
        font-size : 1.8em;
    }
    
    .mobile-dropdown-container {
        width : 100%; height : 100%;
        position: absolute;
        top : 0;
        left : 0;
        z-index: 5;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .mobile-dropdown-list {
        width : 80%;
        height : 200px;
        border-radius: 2px;
        background-color : #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-dropdown-container-back {
        width : 100%; height : 100%;
        position: absolute;
        top:0; left:0;
        background-color : #242424; opacity : 0.5;
        z-index: -1;
    }
    
    .fs-market-mobile-dropdown-box .dropdown {
        height : 100%;
    }
    .fs-market-mobile-dropdown-box #sortDropdownMenuButton {
        height : 100%;
        padding : 0px;
    }
    
    .fs-market-mobile-dropdown-box .dropdown-item {
        font-size : 1.5em;
    }
    
    .mobile-select-box {
        display : block;
        font-size : 1.3em;
        width : 25%;
        margin-right : 10px;
        height : 100%;
    }
    .mobile-inner-select-box {
        width : 80%;
        border : 0px;
        height : 100%;
    }
    .mobile-tag {
        float : left;
        display : block;
        font-size : 1.3em;
        height : 100%;
        width : 15%;
        background-color : #242424;
    }
    
    .mobile-tag a {
        display: block;
        font-size : 1em;
        color : #242424;
        width : 100%;
        height : 100%;
        line-height : 25px;
        color : #ffffff;
        text-align: center;
    }
    .mobile-tag a:hover {
        font-size : #242424;
    }
    .mobile-dropdown-item {
        font-size : 1.5em;
        color : #242424;
    }
    .dropdown-item-box {
        width : 49.5%;
        height : 100%;
        float: left;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dropdown-item-img-box {
        width : 60px;
        
    }
    .fsAccountText, .fsTargetText,.fsTitle {
        font-size : 1.5em;
    }
    .notice {
        display : none;
    }
    .dropdown-item-img-box > img {
        width : 100%;
    }
    .dropdown-line {
        width : 1px;
        height : 80%;
        background-color : #d1d1d1;
        float: left;
    }
    .mobile-dropdown-item:hover {
        color : #242424;
    }
    .mobile-select {
        font-weight : 700;
        opacity : 1;
    }

    #mobileSelect{
        border : none;
    }
    .fs-search-keyword-wrapper{
        width : 70%;
        height : 100%;
        position : relative;
        
    }
    .fs-place {
        font-size : 1.5em;
    }
    .fs-search-keyword-item {
        margin-left : 0px;
        height : 25px;
    }

    .mobile_selected {
        opacity: 1 !important;
    }
    .title-text {
        font-size : 2.1em;
    }
    
    .price_text{
        font-size : 2em;
    }
    .target-date{
        font-size : 1.3em;
    }
    .fs-target-sub-title-box {
        font-size : 1.2em;
    }
    .data-text{
        font-size : 2.4em;
    }
    .fs-target-list-mid-btm{
        
    }
    .fs-market-select-account-container{
        display : none;
    }
    .fs-show-account{
        left:10px;
        font-size : 1.3em;
    }
    .fs-show-account-down {
        bottom : 5px;
    }
    .fsLeftDi {
        margin-top : 4px;
        margin-right : 5px;
    }
    .fsMarketAccount {
        max-width : 170px;
    }
    .fs-target-list-btm {
        height : 7.5%;
    }
    .triangle-img {
        margin-top : 5px;
    }
    .show-hash-tag-more {
        display : none;
    }
    .fs-target-tag {
        font-size : 1.2em;
    }
    .unit-price-img {
        font-size : 1.2em;
        width : 48px;
        height : 24px;
        line-height: 24px;
    }
    .fsShowCount {
        right : 10px;

        bottom : 5px;
        font-size : 1.6em;
    }
    .fsMarketSelectBox {
        font-size : 1em;
    }
    .fsMarketShowSelect {
        margin-right : 10px;
    }

    .fs-fbaccount-box-container {
        margin-bottom : -40px;
    }

    /*event*/
    .eventPopupCon {
        width : 100%;
    }
    .mobile-event-popup {
        display : block;
        width : 100%;
        height : 100%;
        background-color : #242424;
        z-index: 1;
        position: absolute;
        top:0; left:0;
        opacity : 0.5
    }
    .original-price {
        font-size : 1.3em;
    }
    .event-price {
        font-size : 1.9em;
    }
    .price-percent {
        font-size : 1.7em;
        margin-top : 18px;
    }
    .eventPopupContainer {
        width : 100%;
        display : flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        top :0px; left:0;
        position: absolute;
        height : 100%;
        margin : auto;
        z-index: 2;
        background-color : transparent;
    }
    .checkCon {
        position: relative;
        width : 80%;
        margin : 0px auto 0;
        background-color : #ffffff;
        height : 50px;
        
    }
    #close,#check {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size : 1.4em;
        color : #242424;
        text-align: center;
        width : 50%;
        
    }
    .eventPopupCon {
        width : 80%;
        margin: 0 auto 0;
        
    }
    }
    
    

    
    






