
.fs-purchase-background {
    position: absolute;
    left:0; top:0; z-index:995;
    width : 100%; height : 100%; background-color : #000; opacity : 0.5;
}

.fs-purchase-wrapper {
    position : absolute;
    width : 100%; height : 100%;
    top:0; left:0; bottom:0; right:0;
    display : flex;
     justify-content: center; align-items: center;
    z-index: 995;
}

.fs-purchase-container {
    width : 990px; height : 700px; border-radius: 10px;
    z-index: 995; position : relative;
    overflow : hidden;
}

.fs-purchase-opacity-box {
    width : 990px; height : 700px; min-height : 700px;
    background-color : #1b1b1b; border-radius: 10px;
    position : absolute;
    z-index:-10; opacity : 0.8;
}

.fs-purchase-left-box {
    width : 100%;
    height : 500px;
}



.fs-purchase-box {
    width : 990px; height : 500px;
    display : flex;
}

.fs-purchase-left-box-wrapper {
    width : 100%;
    height : 100%; position : relative;
    display : flex; flex-direction: column;
    align-items: center; justify-content: center;
}

.fs-purchase-left-title {
  width : auto; height : 85px;
}

.purchase-title {
    display : flex; align-items: center; justify-content: center;
    position : relative; /*top 지정하여 밑에서 올라오는 모션 추가*/
    bottom : -100px;
    width : 100%; height : 100%; color : #ffffff;
    font-size : 4em; 
}

.fs-purchase-left-db-num {
    width : auto; height : 53px;
    margin-top : 5px;
}

.purchase-db-num {
    display : flex; align-items: center; justify-content: center;
    position : relative;
    width : 100%; height : 100%; color : #ffffff;
    font-size : 3em;
}

.fs-purchase-left-val {
    width : auto; height : 70px;
    margin-top : 23px;
}

.purchase-val {
    display : flex; align-items: center; justify-content: center;
    position :relative;
    width : 100%; height : 100%; color : #ffffff;
    font-size : 1.8em;
}

.fs-purchase-right-box-wrapper {
    width : 100%; height : 100%;
    display : flex; flex-direction: column;
    align-items: center; justify-content: center;
}

.fs-purchase-right-have-price {
    width :400px; height : 53px;
    display : flex; justify-content: space-between; align-items: center;
}

.purchase-have-price-title {
    font-size : 1.4em; color : #ffffff;
}

.purchase-have-price-num {
    font-size : 3.6em; color : #ffffff;
    font-weight: 300;
}

.fs-purchase-right-total-price {
    width : 330px; height : 53px;
    display : flex; justify-content: space-between; align-items: center;
    margin-top : 48px;
}

.purchase-total-price-title {
    font-size : 1.4em; color : #ffffff;
}

.purchase-totla-price-num {
    font-size : 2em; color : #ffffff;
    font-weight: 300;
}





.fs-purchase-right-last-price {
    width :330px; height : 53px;
    display : flex; justify-content:space-between; align-items: center;
    margin-top : 35px;
}

.purchase-last-pirce-title {
    font-size : 1.4em; color : #ffffff;
}

.purchase-last-price-num {
    font-size :2em; color : #ffffff;
    font-weight: 300;
}

.fs-purchase-right-warning {
    width : 100%; height : auto;
    display :none; text-align: center;
}

.purchase-warning-box {
    width : 300px;
    position : relative; margin : auto;
    margin-top : 20px;
}

.purchase-warning-box-open {
    display : flex;
}

.purchase-warning {
    font-size : 1.3em; color : #ffffff;
    float : left; margin-right : 5px;
}

.purchase-button {
    font-size : 1.3em; color : #ee2560;;
    cursor : pointer; font-weight : 800;
}

.purchase-buy-btn {
    width : 100%; height : auto;
    display : flex;
}

.fs-purchase-background-hide {
    display : none;
}

.fs-purchase-background-show {
    display : block;
}

.fs-purchase-wrapper-hide {
    display : none;
}

.fs-purchase-wrapper-show {
    display : flex;
}

.fs-purchase-p {
    width : auto; max-width : 520px; height :auto; position :relative;
    margin-top : 5px;
    text-align: center;
    overflow : visible;
    margin-bottom : 20px;
}

.fs-purchase-p > p {
    color : #ffffff;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size : 1.07em;white-space: pre-line; 
    font-weight: 100;
}

.fs-purchase-more {
    color : #ffffff;
    display : block; position : absolute; left:0px;
}
.fs-purchase-select-account {
    width : 500px; height : 41px; float : left;
    position :absolute; bottom : 0px; left:10px;
    z-index: 10;
}

.fs-purchase-select-account-title {
    width : 180px; height : 100%;
    background-color : transparent;
    border : 0px;
    font-size : 1.3em;
    font-weight: 700;
    cursor : pointer;
    text-align: center;
    border: 0px solid #242424;
    display : none;
}

.purchase-close-box {
    position : absolute; right : 20px;
    z-index: 99999;
}
.purchase-close-icon {
    font-size : 1.7em; color : #ffffff;
}
.fs-purchase-first-box {
    width : 990px; height : 100%;
    position : relative; float : left;
    display: flex; flex-direction: column; align-items: center;
    justify-content: center;
}

.fs-purchase-underline {
    width : 860px; height : 2px; background-color : #ffffff;
}

.fs-purchase-detail-box {
    width : 848px; height : 70px;
    margin-top : 10px;
}

.fs-purchase-detail-left,.fs-purchase-detail-right {
    width : 50%;
    height : 100%;
    float: left;
}

.fs-purchase-detail {
    width : 100%; height : 50%;
    float : left; padding : 20px 30px 20px 30px;
    display : flex; align-items: center; justify-content: space-between;
}

.fs-purchase-detail-title {
    color : #ffffff;
    font-size : 1.3em; font-weight : 700;
}

.fs-purchase-detail-content {
    color : #ffffff;
    font-size : 1.3em ; font-weight : 500;
}

.fs-purchase-second-box {
    width : 990px; height : 100%;
    position : relative; 
    display: flex; flex-direction: column; align-items: center;
    justify-content: center;
}

.fs-purchase-total-full-box {
    width : 1980px; height : 700px;
    position : relative; left:0px;
}

.purchase-right-detail-box {
    width : 500px; height : 380px; 
    display : flex; flex-direction: column; align-items: center; justify-content: center;
    margin-top : 60px;
}

.fs-purchase-right-detail-title {
    color : #ffffff; font-size : 1.8em;
}

.purchase-second-btn {
    padding-top : 60px;
    float : left; margin : 0 10px 0 10px;
}

.purchase-second-btn-box {
    
}

.fs-purchase-notice-box {
    color : #ffffff; font-size : 1.4em;
    font-weight : 300;
    margin-top : 20px;
}

.fs-purchase-notice-account {
    color : #ffffff; font-size : 1em;
    font-weight : 700;
}

@media screen and (min-width : 799px) and (max-width : 1400px) {
    .fs-purchase-container {
        width : 51.5%; height : 71.4%;
        min-width : 660px; min-height : 421px;
    }

    .purchase-right-detail-box{
        height:54%;
        min-height : 257px;
        margin-top : 30px;
    }
    .fs-purchase-opacity-box{
        width : 100%; height : 100%;
    }
     .fs-purchase-total-full-box{
        width :200%; height : 100%;
         min-width : 1320px; min-height : 421px;
    }
    .fs-purchase-first-box,.fs-purchase-second-box{
        width : 50%;
    }
    .fs-purchase-box,.fs-purchase-left-box{
        width : 100%; height : 100%;
    }
    .fs-purchase-p{
        margin-bottom : 10px;
    }
    .fs-purchase-left-box-wrapper{
        height : 120%;
    }
    .send-btn{
        width : 100px; height : 40px;
    }
    .fs-purchase-left-title{
        height : 17%;
    }
    .fs-purchase-left-db-num{
        height : 10.6%;
    }
    .fs-purchase-underline{
        width : 95.5%;
    }
    .fs-purchase-detail-box{
        width : 90%; padding : 10px 5px 10px 5px;
        height : 20%; 
    }
    .fs-purchase-detail{
        padding : 5px 5px 5px 5px;
    }
    .purchase-buy-btn{
        height : 30%;
    }
    .fs-purchase-right-total-price,.fs-purchase-right-last-price {
        width : 200px;
    }
}


/*@media screen and(max-width : 1000px) {
        .fs-purchase-select-account {
        left : 10px; top:-45px;
        width : 100px;
    }
    .fs-search-box{
        width : 100%;
    }


}*/


@media screen and (max-width : 700px) {
    
    .fs-purchase-left-title{
        height : 60px;
    }
     .fs-purchase-first-box,.fs-purchase-second-box {
        width : 50%;
    }
    .fs-purchase-total-full-box{
        height : 100%; width : 200%;
    }
    
        .fs-purchase-opacity-box {
        width : 100%; height : 100%;
    }
    .fs-purchase-container {
        width : 100%; height : 100%;
    }
    .fs-purchase-box {
        width : 100%; height :auto; min-height: 400px;
        flex-wrap: wrap; flex-direction:column;
    }
    .fs-purchase-left-box {
        width : 100%; height : 100%; overflow: visible;
    }
    .fs-purchase-left-box-wrapper {
        height : 100%; overflow: visible;

    }

    .fs-purchase-right-box-wrapper {
        width : 100%; height :auto; min-height: 400px;
        padding-top : 20px;
    }
    .fs-purchase-p {
        width : 90%;
        margin-top : 10px;
        margin-bottom:  10px;
    }
    .fs-purchase-p > p {
        text-align: center;
        padding : 0 10px 0 10px;
    }
    .purchase-title {
        font-size : 3em;
    }
    .fs-purchase-right-have-price,.fs-purchase-right-total-price,.fs-purchase-right-last-price{
        width : 100%; padding : 0 10px 0 10px;
    }
    .fs-purchase-right-total-price,.fs-purchase-right-last-price{
        margin-top : 10px;
    }
    .purchase-warning-box {
        width : auto; 
    }
    .fs-purchase-right-warning{
        width : 100%; justify-content: flex-end;
        flex-direction: row;
    }
    .purchase-warning,.purchase-button {
        font-size : 1.5em;
        font-weight: 300;
    }
    .purchase-button {
        margin-top: 0; margin-left : 0px;
        font-weight: 700;
    }
    .fs-purchase-more {
        bottom: -20px; left : 20px;
    }

    .fs-purchase-select-account {
        position : relative;
        height : 40px;
        left:0; top:0; width : 100%;
        float:none; 
        overflow-x :scroll;
    }
    
    .fs-purchase-container{
        overflow : auto;
    }
    
    .fs-purchase-underline {
        width : 90%; height : 3px;
    }
    .fs-purchase-detail-box {
        width : 100%; height : 150px;
        display: flex; flex-direction: column; align-items: center;justify-content: center;
    }
    .fs-purchase-detail{
        padding : 5px 0 5px 0; height : auto;
        width : 100%; float: none;
        
    }
    .fs-purchase-detail-left,.fs-purchase-detail-right  {
        width : 80%; 
        margin : auto;
    }
    .purchase-right-detail-box {
        width : 80%; height : 100%;
    }
    .fs-purchase-select-account-title{
        display : none;
    }
    
    .fs-purchase-select-account{
         -ms-overflow-style: none;
    }
      ::-webkit-scrollbar {

display:none;

}
}



