body{ min-width: 1280px !important;}

.sign_up .inner {
  width: 600px !important;
}
.but_box {
  text-align: center;
}
.but_box button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 60px 0;
  border-radius: 5px;
  background: #e7bd04;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #292929;
}

.form_box {
  position: relative;
}
.form_box .form_ico {
  position: absolute;
  top: -22px;
  left: 75px;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  background: #fed32e;
}

.form_box .form_ico button {
    width: 42px;
    height: 42px;
}

.form_box .form_ico button img{
    width: 60%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*약관동의*/
.terms {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}
.terms .inner {
  display: table-cell;
  vertical-align: middle;
  width: 550px;
  margin: 0 auto;
}
.terms .logo {
  margin-bottom: 40px;
}
.terms h1 {
  text-align: center;
  font-size: 25px;
}
.terms .form_box {
  width: 550px;
  margin: auto;
  border-radius: 7px;
  border: solid 1px #cccccc;
}
.terms .input_box {
  width: 400px;
  margin: auto;
  text-align: left;
}
.terms .input_box p {
  text-align: left;
}
.terms .input_box .desc {
  margin: 45px 0 20px;
  font-size: 43px;
  line-height: 1.27;
  letter-spacing: -0.65px;
  color: #292929;
}
.terms .input_box .desc_sub {
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 1.52;
  letter-spacing: -0.38px;
  color: #292929;
}
.terms .input_box ul {
  display: block;
}
.terms .input_box ul li {
  width: 100%;
  line-height: 25px;
  text-align: left;
  margin-bottom: 30px;
}
.terms .input_box ul li .checkbox {
  position: absolute; left: 0; top: 14px;
}
.terms .input_box ul li .txt {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #292929;
}
.terms .input_box ul li a {
  float: right;
  font-size: 18px;
  letter-spacing: -0.27px;
  color: #666666;
}
.terms .input_box ul li:first-of-type {
  margin-bottom: 40px;
}
.terms .input_box ul li:last-of-type {
  margin-bottom: 0;
}
.terms .txt_bottom {
  margin-top: 30px;
  font-size: 13px;
  color: #666;
  text-align: center;
}

/* checkbox */
.checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.checkbox input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #fed32e;
}

.checkbox input[type="checkbox"]:checked + label::before {
  content: "✔";
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #fff;
}


/*sign_up 회사 가입 */
.sign_up {
  margin: 60px 0;
}
.sign_up .inner {
  margin: 0 auto;
}
.sign_up .logo {
  margin-bottom: 40px;
}
.sign_up h1 {
  text-align: center;
  font-size: 25px;
}
.sign_up .form_box {
  width: 100%;
  border-radius: 7px;
  border: solid 1px #cccccc;
}
.sign_up .input_box {
  width: 440px;
  margin: auto;
}
.sign_up .input_box .desc {
  padding-top: 40px;
  font-size: 43px;
  line-height: 1.27;
  letter-spacing: -0.65px;
  text-align: left;
  color: #292929;
}
.sign_up .input-group {
  position: relative;
  flex-direction: column;
  margin-top: 50px;
}
.sign_up .input-group label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.23px;
  color: #000;
  text-align: left;
  white-space: nowrap;
}
.sign_up .input-group button {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 95px;
  height: 30px;
  line-height: 26px;
  background: #f0f0f0;
  border-radius: 14.5px;
  border: solid 1px #cccccc;
  font-size: 15px;
  letter-spacing: -0.23px;
  color: #292929;
}
.sign_up .input_box .form-control {
  display: block;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent !important;
  font-size: 20px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #292929;
  box-sizing: border-box;
}
.sign_up .input_box .form-control2 {
  padding-right: 110px;
}
.sign_up .input_box .form-control::placeholder {
  color: #ccc;
}
.sign_up .message_group {
  margin-top: 10px;
}
.sign_up .message_group .check_state_yes {
  text-align: left;
  font-size: 13px;
  color: #00d294;
}
.sign_up .message_group .check_state_no {
  text-align: left;
  font-size: 13px;
  color: #e40a0a;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sign_up .txt_bottom {
  margin-top: 30px;
  font-size: 13px;
  color: #666;
  text-align: center;
}

.sign_up .address_box input:last-child {
  margin-bottom: 0;
}
.sign_up .address,
.sign_up .detailAddress,
.sign_up .extraAddress {
  width: 100% !important;
}
.extraAddress{display: none !important;}

.sign_up .upload_name {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sign_up .business_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center !important;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 95px !important;
  height: 30px;
  line-height: 26px;
  background: #f0f0f0;
  border-radius: 14.5px;
  border: solid 1px #cccccc;
  font-size: 15px;
  letter-spacing: -0.23px;
  color: #292929;
}
.sign_up .business_btn.form-control {
  border: 0;
  border-bottom: 1px solid #ccc;
}


.sign_up .address,
.sign_up .detailAddress,
.sign_up .extraAddress {
  width: 100% !important;
}
.extraAddress{display: none !important;}



/*login*/

.login {
  width: 100%;
  height: 650px;
  background-image: url('/img/sign_up/login_bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.login .inner {
  width: 450px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login .input_box {
  width: 100%;
  margin: auto;
}
.login .logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.login h1 {
  text-align: center;
  font-size: 25px;
}
.login .input_box .desc {
  padding-top: 40px;
  font-size: 43px;
  line-height: 1.27;
  letter-spacing: -0.65px;
  text-align: left;
  color: #fff;
  margin-bottom: 70px;
}
.login .form_box {
  width: 100%;
  border: none;
}
.login .input-group{
  margin-bottom: 35px;
}
.login .input-group label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.23px;
  color: #fff;
  text-align: left;
  white-space: nowrap;
}

.login .input_box .form-control {
  display: block;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent !important;
  font-size: 20px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #fff;
  box-sizing: border-box;
}

.login .input_box .form-control::placeholder{
  color: #fff;
}
.login .checkbox label {color: #fff;}
.login .txt_bottom {
  margin-top: 170px;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

/*초이스*/

.choice {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}
.choice .inner {
  display: table-cell;
  vertical-align: middle;
  width: 550px;
  margin: 0 auto;
}
.choice .logo {
  margin-bottom: 40px;
}
.choice h1 {
  text-align: center;
  font-size: 25px;
}
.choice .form_box {
  width: 550px;
  margin: auto;
  border-radius: 7px;
  border: solid 1px #cccccc;
}
.choice .input_box {
  width: 400px;
  margin: auto;
  text-align: left;
}
.choice .input_box p {
  text-align: left;
}
.choice .input_box .desc {
  margin: 45px 0 20px;
  font-size: 43px;
  line-height: 1.27;
  letter-spacing: -0.65px;
  color: #292929;
}
.choice .input_box .desc_sub {
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 1.52;
  letter-spacing: -0.38px;
  color: #292929;
}
.choice .input_box ul {
  display: block;
}
.choice .input_box ul li {
  width: 100%;
  line-height: 25px;
  text-align: left;
  margin-bottom: 30px;
}
.choice .input_box ul li .checkbox {
  position: absolute; left: 0; top: 14px;
}
.choice .input_box ul li .txt {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #292929;
}
.choice .input_box ul li a {
  float: right;
  font-size: 18px;
  letter-spacing: -0.27px;
  color: #666666;
}
.choice .input_box ul li:first-of-type {
  margin-bottom: 40px;
}
.choice .input_box ul li:last-of-type {
  margin-bottom: 0;
}
.choice .txt_bottom {
  margin-top: 30px;
  font-size: 13px;
  color: #666;
  text-align: center;
}
.choice .but {
  overflow: hidden;
  padding-bottom: 1rem;
}
.choice .but p {
  float: left;
  font-size: 15px;
  line-height: 2.53;
  letter-spacing: -0.23px;
  color: #292929;
}
.choice .but button {
  background: none;
  float: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 2.53;
  letter-spacing: -0.23px;
  color: #292929;
}
.choice hr {margin: 50px 0 20px;}



.radio1 input[type="radio"]{
  display: none;
}
.radio2 input[type="radio"]{
  display: none;
}

.radio1 input[type="radio"]+label {
  width: 50px;
  height: 50px;
  background-image: url('/img/sign_up/icon_one_man_off.png');
  background-size: cover;
  background-position: center;

}
.radio1 input[type="radio"]:checked + label {
  background-image: url('/img/sign_up/icon_one_man_on.png');
  background-size: cover;
  background-position: center;
}

.radio2 input[type="radio"]+label {
  width: 50px;
  height: 50px;
  background-image: url('/img/sign_up/icon_two_man_off.png');
  background-size: cover;
  background-position: center;
}
.radio2 input[type="radio"]:checked + label {
  background-image: url('/img/sign_up/icon_two_man_on.png');
  background-size: cover;
  background-position: center;
}

.terms_page .terms_box {
    padding: 1rem 2rem;
    width: 60%;
}
